#time-container {
  display: flex;
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.progress-bar {
  display: flex;
  width: 275px;
  height: 275px;
  margin: 7px;
  padding: 0;
}

.progress-bar .timer {
  position: relative;
  margin: 0;
  padding: 0;
  width: 275px;
  font-size: 54px;
  font-weight: 900;
  text-align: center;
}

.progressbar__label {
  // Text color.
  // Default: same as stroke color (options.color)
  color: #f00;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  margin: 0;
  // You can specify styles which will be browser prefixed
  transform: {
    prefix: true;
    value: translate(-50%, -50%);
  }
}
