<ion-content [fullscreen]="true">
  <div id="time-container">
    <div class="progress-bar">
      <div #timer class="timer"></div>
    </div>
    <div class="button-list">
        <ion-fab-button *ngIf="!isClockRunning">
          <ion-icon (click)="toggleClock()" name="play-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="isClockRunning">
          <ion-icon (click)="toggleClock()" name="pause-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="displayStopButton">
          <ion-icon (click)="toggleClock(true)" name="stop-outline"></ion-icon>
        </ion-fab-button>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button><ion-icon name="settings"></ion-icon></ion-fab-button>
      <ion-fab-button
        ><ion-icon name="information-circle-outline"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
